.roller-background {
    background-color: rgb(47 54	169);
}

.charger-background {
    background-color: rgb(113,13,181)
}

.slosher-background {
    background-color: rgb(215,91,2);
}

.splatling-background {
    background-color: rgb(201, 202, 0);
    color: black;
}

.dualies-background {
    background-color: rgb(15, 207, 0);
}