.weapon-image {
    /*This positions the image at the middle horizontally
    and adds a thick white border around the image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    border: 5px solid white;
}

.weapon-info {
    margin: auto;
    max-width: 50%;
    min-width: 25%;
    padding: 10px;
}